---
- name: Create RDB snapshot and wait for it to become available
  tags: backup
  command:  aws --profile "{{ sourcecred_profile }}" rds --region "{{ region }}" create-db-cluster-snapshot --db-cluster-snapshot-identifier "{{ snapshotname }}" --db-cluster-identifier "{{ sourceclustername }}"
 
- name: sleep
  wait_for:
    timeout: 300
  delegate_to: localhost
  
- name: sharing the RDS snapshot
  tags: sharing
  command: aws --profile "{{ sourcecred_profile }}" rds modify-db-cluster-snapshot-attribute --region "{{ region }}" --db-cluster-snapshot-identifier "{{ snapshotname }}" --attribute-name restore --values-to-add "{{ target_awsaccountid }}"
####################################################


- name: sleep
  wait_for:
    timeout: 60
  delegate_to: localhost


- name: Copy shanred RDB snapshot with manual
  tags: copydb
  command:  aws  --profile "{{ targetcred_profile }}" --region "{{ targetregion }}" rds copy-db-cluster-snapshot --source-db-cluster-snapshot-identifier arn:aws:rds:"{{ region }}":"{{ source_awsaccountid }}":cluster-snapshot:"{{ snapshotname }}" --target-db-cluster-snapshot-identifier "{{ newcopy-snapshotname }}" --kms-key-id "{{ kmsid }}"

- name: sleep
  wait_for:
    timeout: 300
  delegate_to: localhost


#arn:aws:kms:us-east-2:122511138117:key/88bb6975-bed2-41d3-97b1-1a50baaab91d

#################################################################

    #- name: sleep
  #  wait_for:
    #    timeout: 300
      #  delegate_to: localhost

    #- name: restoring the RDS snapshot
    #tags: restoring
    #command: aws rds modify-db-cluster-snapshot-attribute --region us-east-2 --db-cluster-snapshot-identifier "{{ snapshot-name }}" --attribute-name restore --values-to-add 122511138117
####################################################

